@model nomina.Models.DTO.UserDTO

@{
    ViewBag.Title = "Edit";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

    <h2>Update user </h2>

    <div>
        @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "form" }))
        {
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                <label>Name:</label>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label>Email:</label>
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
            </div>


            <button type="submit" class="btn btn-primary">Update</button>
        }
    </div>
</body>
</html>
